<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Aihealue</title>
        <meta charset="utf-8" />

    </head>

    <body>
        <h1>Alue</h1>

        
        <table style="width:60%">
            <tr>
                <th th:text= "'Alue: ' + ${alue.nimi}">Alue </th>
                <td>Viestejä</td>
                <td>Viimeisin viesti</td>      
            </tr>
            <tr th:each="aihe: ${aiheet}">
                <td><a th:href="@{~/aihe/{id}(id=${aihe.id})}"><span th:text="${aihe.teksti}">Viestiketjut</span></a></td>
                <td th:text="${aihe.viestit}"> > Viestejä yhteensä</td>
                <td th:text="${aihe.aika}">aika</td>                
            </tr>
        </table>
        <br/>
        <form method="POST">
            Aloita uusi viestiketju:<br/>
            <input type="text" name="aihe"/><br/>
            Viesti:<br/>
            <textarea cols="30" rows="5" name="teksti"></textarea>
            <br/>
            Lähettäjä: <br/>
            <input type="text" name="lähettäjä"/><br/>
            <input type="submit" value="Lähetä viesti"/>
        </form>
        <br></br>
        <span> <a th:href="@{~/}" th:text="Etusivu">Etusivu</a> </span>
    </body>
</html>